*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    overflow: hidden;
    color: aquamarine;
    text-align: center;
}

a{
    color: aqua;
    text-decoration: none;
}

a:hover{
    color: #217074;
}

.start{
    font-size: 30px;
}

h1{
    font-size: 50px;
    line-height: 1.4;
}

.screen{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #29323C 0%, #485563 100%);
    transition: margin 0.5s ease-out;
}

.up{
    margin-top: -100vh;
}

.time-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.time-list li{
    margin: 8px;
}

.time-btn{
    background-color: transparent;
    border: 1px solid #C0C0C0;
    color: aquamarine;
    cursor: pointer;
    font-family: inherit;
    padding: 10px;
    font-size: 24px;
}

.time-btn:hover{
    color:yellowgreen;
    border: 1px solid black;
}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 500px;
    background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
    box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
}

.circle{
    position: absolute;
    background: #C0C0C0;
    border-radius: 50%;
    cursor: pointer;
}

.hide{
    opacity: 0;
}

.primary{
    color: yellowgreen;
}